.registration-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

.registration-card__icone-finished {
    display: block;
    width: 3.5rem;
    height: 3.5rem;

    margin-bottom: 1rem;

    background-image: url(../img/checkmark.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.registration-card__title {
    max-width: 20rem;
}